flask
werkzeug
fitz
docx
python-docx 
pillow
mimetypes-magic
pybase64
mistralai
langchain_community
arxiv
frontend
tools
PyMuPDF
tavily-python
langchain_mistralai
transformers
torch 
json-repair
