@font-face {
    font-family: 'russianrail-g-pro';
    src: url(russianrail-g-pro.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-semibold';
    src: url(gilroy-semibold.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-lightitalic';
    src: url(gilroy-lightitalic.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-bold';
    src: url(gilroy-bold.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-medium';
    src: url(gilroy-medium.ttf) format('opentype');
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #FFF9EF;
}

header {
    background-color: #4BBF76;
    position: relative;
    left: 25vw;
    width: 50vw;
    border-radius: 10px;
}

.name {
    position: relative;
    font-family: russianrail-g-pro;
    font-size: 3vw;
    left: 1vw;
    color: white;
}


.conteiner-upfile {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 5vh;
    width: 30vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}


.btn-load-file {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #FFF9EF;
    border-radius: 15px;
    font-size: 1.5vw;
    left: 4vw;
    top: 5vh;
    font-family: gilroy-semibold;
    width: 17vw;
    height: 6vh;
    border: 0;
}

.max-file {
    position: absolute;
    color: #EDF0F5;
    font-family: gilroy-lightitalic;
    font-size: 1vw;
    right: 3vw;
    top: 5.5vh;
}

.ili {
    position: relative;
    font-family: gilroy-bold;
    font-size: 2.5vw;
    text-align: center;
    top: 12vh;
}


.text-area {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 20vh;
    width: 30vw;
    height: 45.5vh;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    resize: none;
    position: relative;
    color: black;
    font-family: gilroy-medium;
    background-color: #FFF9EF;
    border-radius: 15px;
    padding: 10px;
    top: 1.5vh;
    left: 2vw;
    width: 25vw;
    height: 37vh;
}

.btn-send {
    position: relative;
    background-color: #FFF9EF;
    background: no-repeat;
    object-fit: contain;
    border: 0;
    bottom: 0vh;
    right: 2.5vw;
    height: 7vh;
    width: 7vh;
}


.conteiner-sum {
    position: relative;
    background-color: #0C204D;
    border-radius: 20px;
    top: 5vh;
    width: 30vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.conteiner-sum-text {
    position: relative;
    color: #FFF9EF;
    font-family: gilroy-semibold;
    font-size: 1.5vw;
    top: 5vh;
}   

.conteiner-sum-but {
    position: absolute;
    object-fit: contain;
    background-color: transparent;
    border: 0;
    bottom: 2.5vh;
    right: 1vw;
    height: 5vh;
    width: 5vh;
}

.back-fone {
    background-color: #130F28; 
    opacity: 0.5; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 100%; 
}

.back-fone-3 {
    background-color: #130F28; 
    opacity: 0.5; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 100%; 
}

.compression-percentage-selection {
    position: relative;
    background-color: #FFF9EF;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 25.5vw;
    height: 20vh;
    bottom: 46.5vh;
}

.compression-percentage-selection-text {
    position: relative;
    font-family: gilroy-medium;
    color: #000000;
    left: 1vw;
    top: 1vh;
    font-size: 1.5vw;
}

.percentage-selection{
    width: 22vw;
    position: relative;
    top: 3vh;
    left: 2vw;
}

/* Основная стилизация ползунка */
input[type="range"] {
    -webkit-appearance: none; /* Убираем стандартное оформление */
    height: 1px; /* Высота полоски */
    background: #0067BB; /* Цвет полоски */
    outline: none;
}


/* Стилизация бегунка (кружок ползунка) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4BBF76; /* Цвет бегунка */
    border-radius: 50%;
    cursor: pointer;
}

.slider-value {
    position: absolute;
    top: 13vh;
    left: 0px;
    font-family: gilroy-medium;
    font-size: 1vw;
    transition: left 0.1s ease; /* Плавное перемещение текста */
}

.percentage-sum-but {
    position: absolute;
    object-fit: contain;
    background-color: transparent;
    border: 0;
    bottom: 1vh;
    right: 1vw;
    height: 5vh;
    width: 5vh;
}

.text-area-qa {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 20vh;
    width: 30vw;
    height: 46vh;
    margin-left: auto;
    margin-right: auto;
}


.answer {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 5vh;
    width: 41vw;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
}

.textarea-answer {
    resize: none;
    position: relative;
    color: black;
    font-family: gilroy-medium;
    background-color: #FFFF;
    overflow-y: auto;
    border-radius: 15px;
    padding: 1.5vw;
    top: 2vh;
    left: 1.5vw;
    width: 35vw;
    height: 60vh;
}


.article-block {
    position: absolute;
    background-color: #4BBF76;
    border-radius: 20px;
    top: 12vh;
    right: 1vw;
    width: 27vw;
    height: 40vh;
}

.article-block-in {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    top: 2.5vh;
    width: 24vw;
    height: 35vh;
}

td {
    border-radius: 7px;
    background-color: #CDFEDF;
    width: 20vw;
    height: 5.5vh;
    text-align: center;
    margin-left: 5vw;
    font-size: 1.5vw;
    font-family: gilroy-lightitalic; 
    color: #0C204D;
    box-shadow: 0 5px 15px 0 #90c2a3;
    transition: 0.5s;
}
td:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 5px #90c2a3;
  }

.article-block-choose-theme {
    position: absolute;
    background-color: #FFF9EF;
    border-radius: 20px;
    top: 18.5vh;
    width: 35vw;
    height: 65vh;
    margin-left: 32.5vw;
    overflow-x: hidden;
}

.article-block-choose-theme::-webkit-scrollbar-thumb {
    background-color: #050c26; /* Scrollbar thumb color */
    border-radius: 20px; /* Scrollbar thumb rounding */
    border: 3px solid #050c26; /* Scrollbar thumb border */
}

.article-block-choose-theme::-webkit-scrollbar-track {
    background-color: #FFF9EF; /* Scrollbar track color */
    border-radius: 20px;
}

.list-article {
    position: relative; 
    left: 3vw;
    top:5vh;
}

.list-article-item {
    font-family: gilroy-semibold; 
    padding-top: 1vh;
    width: 30vw;
}

.list-article-item-score {
    position: absolute; 
    right: 3.5vw; 
    text-align: right;
}

.list-article-item-name {
    font-size: 1vw; 
}

.list-article-item-url {
    color: #93A0B2; 
    font-size: 1vw;
    text-decoration: none;
}

hr {
    position: relative;
    background-color: #0C204D;
    top: 5px;
    width: 19vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-1 {
    display: block;
}

.main-2 {
    display: none;
}

.main-3 {
    display: none;
}


