@font-face {
    font-family: 'russianrail-g-pro';
    src: url(russianrail-g-pro.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-semibold';
    src: url(gilroy-semibold.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-lightitalic';
    src: url(gilroy-lightitalic.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-bold';
    src: url(gilroy-bold.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy-medium';
    src: url(gilroy-medium.ttf) format('opentype');
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #FFF9EF;
}

header {
    background-color: #4BBF76;
    position: relative;
    left: 25vw;
    width: 50vw;
    border-radius: 10px;
}

.name {
    position: relative;
    font-family: russianrail-g-pro;
    font-size: 3vw;
    left: 1vw;
    color: white;
}


.conteiner-upfile {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 5vh;
    width: 30vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}


.btn-load-file {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #FFF9EF;
    border-radius: 15px;
    font-size: 1.5vw;
    left: 4vw;
    top: 5vh;
    font-family: gilroy-semibold;
    width: 17vw;
    height: 6vh;
    border: 0;
}

.max-file {
    position: absolute;
    color: #EDF0F5;
    font-family: gilroy-lightitalic;
    font-size: 1vw;
    right: 3vw;
    top: 5.5vh;
}

.ili {
    position: relative;
    font-family: gilroy-bold;
    font-size: 2.5vw;
    text-align: center;
    top: 12vh;
}


.text-area {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 20vh;
    width: 30vw;
    height: 45.5vh;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    resize: none;
    position: relative;
    color: black;
    font-family: gilroy-medium;
    background-color: #FFF9EF;
    border-radius: 15px;
    padding: 10px;
    top: 1.5vh;
    left: 2vw;
    width: 25vw;
    height: 37vh;
}

.btn-send {
    position: relative;
    background-color: #FFF9EF;
    background: no-repeat;
    object-fit: contain;
    border: 0;
    bottom: 0vh;
    right: 2.5vw;
    height: 7vh;
    width: 7vh;
}


.conteiner-sum {
    position: relative;
    background-color: #0C204D;
    border-radius: 20px;
    top: 5vh;
    width: 30vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.conteiner-sum-text {
    position: relative;
    color: #FFF9EF;
    font-family: gilroy-semibold;
    font-size: 1.5vw;
    top: 5vh;
}   

.conteiner-sum-but {
    position: absolute;
    object-fit: contain;
    background-color: #0C204D;
    border: 0;
    bottom: 2.5vh;
    right: 1vw;
    height: 5vh;
    width: 5vh;
}

.text-area-qa {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 20vh;
    width: 30vw;
    height: 46vh;
    margin-left: auto;
    margin-right: auto;
}


.answer {
    position: relative;
    background-color: #0067BB;
    border-radius: 20px;
    top: 5vh;
    width: 41vw;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
}

.textarea-answer {
    resize: none;
    position: relative;
    color: black;
    font-family: gilroy-medium;
    background-color: #FFFF;
    overflow-y: auto;
    border-radius: 15px;
    padding: 1.5vw;
    top: 2vh;
    left: 1.5vw;
    width: 35vw;
    height: 60vh;
}

.main-1 {
    display: block;
}

.main-2 {
    display: none;
}

.main-3 {
    display: none;
}


