<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>QuickInsight</title>

    <style>
        /* Лоадер */
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: 0 auto;
            position: relative;
            top: 30vh;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .loading-container {
            display: none;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <p class="name">QuickInsight</p>
    </header>

    <main id="main-1" class="main-1">
        <form id="uploadForm" enctype="multipart/form-data"></form>
            <div class="conteiner-upfile">
                    <button class="btn-load-file">
                        <label for="file">Загрузить файл</label>
                        <img src="../static/image 1.png" alt="Загрузить файл" style="width: 2vw; top: 0.5vh; left: 1vw; position: relative;">
                        <input id="file" name="file" type="file" style="display: none;">
                    </button>
                
                <p id="fileCount" class="max-file"> 
                    Загржено 0 <br>
                    файлов
                </p>
            </div>

            <p class="ili">ИЛИ</p>

            <div class="text-area">
                <p style="color: #EDF0F5; font-family: gilroy-lightitalic; font-size: 1.5vw; text-align: center; top:1vh; position: relative;">
                    <strong>Напишите текст!</strong>
                </p>
                <textarea id="inputText" wrap="soft" rows="10" cols="30"></textarea>
                <button id="submitText" class="btn-send"><img src="../static/Frame 5.png" style="height: 7vh; width: 7vh;"/></button>
            </div>
        </form>
    </main>

    <main id="main-2" class="main-2">
        <div class="conteiner-sum">
            <p class="conteiner-sum-text">Суммаризировать текст</p>
            <button id="summarizeButton" class="conteiner-sum-but"><img src="../static/Frame 5.png" width="60vw" height="auto" /></button>
        </div>

        <p class="ili">ИЛИ</p>

        <div class="text-area-qa">

            <p style="color: #EDF0F5; font-family: gilroy-lightitalic; font-size: 1.5vw; text-align: center; top:1vh; position: relative;">
                <strong>Задайте вопрос по тексту!</strong>
             </p>

            <textarea id="questionText" wrap="soft" rows="10" cols="30"></textarea>
            <button id="askQuestionButton" class="btn-send"><img src="../static/Frame 5.png" /></button>
        </div>
    </main>

    <main id="main-3" class="main-3">
        <div class="answer">

            <p style="color: #EDF0F5; font-family: gilroy-lightitalic; font-size: 1.5vw; left: 3vw; top:1vh; position: relative;">
                <strong>Ответ:</strong>
            </p>

            <div id="answerText" class="textarea-answer" readonly wrap="soft" rows="10" cols="30"></div>
        </div>


        
    </main>

    <div id="loading" class="loading-container">
        <div class="loader"></div>
        <p style="font-family: gilroy-semibold; font-size: 1.5vw;">Пожалуйста, подождите. Идет обработка данных...</p>
    </div>

    <script>
        let sessionId;
    
        function toggleSections(showMain1, showMain2, showMain3) {
            document.getElementById('main-1').style.display = showMain1 ? 'block' : 'none';
            document.getElementById('main-2').style.display = showMain2 ? 'block' : 'none';
            document.getElementById('main-3').style.display = showMain3 ? 'block' : 'none';
            document.getElementById('loading').style.display = 'none';
        }
    
        function showLoader() {
            document.getElementById('main-1').style.display = 'none';
            document.getElementById('main-2').style.display = 'none';
            document.getElementById('main-3').style.display = 'none';
            document.getElementById('loading').style.display = 'block';
        }
    
        function hideLoader() {
            document.getElementById('loading').style.display = 'none';
        }
    
        // Обновление счетчика файлов
        document.getElementById('file').onchange = function() {
            const fileCountElement = document.getElementById('fileCount');
            const fileInput = document.getElementById('file');
            const fileCount = fileInput.files.length;
    
            fileCountElement.innerHTML = ` ${fileCount} <br> файл${fileCount === 1 ? '' : 'ов'}`;
        };
    
        // Загрузка текста или файла с проверкой на одно действие
        document.getElementById('submitText').onclick = async function() {
            const fileInput = document.getElementById('file');
            const inputText = document.getElementById('inputText').value;

            let formData = new FormData();
            if (fileInput.files.length > 0 && inputText.trim().length > 0) {
                alert("Нельзя загружать одновременно и файл, и текст! Пожалуйста, выберите только одно.");
                return;
            } else if (fileInput.files.length > 0) {
                formData.append('file', fileInput.files[0]);  // Теперь файл корректно добавляется в formData
            } else if (inputText.trim().length > 0) {
                formData.append('text', inputText);
            } else {
                alert("Пожалуйста, загрузите файл или напишите текст!");
                return;
            }

            showLoader();
            try {
                const response = await fetch('/process', { method: 'POST', body: formData });
                const result = await response.json();
                sessionId = result.session_id;
                hideLoader();
                toggleSections(false, true, false);
            } catch (error) {
                console.error('Error during upload:', error);
                alert('Произошла ошибка при загрузке данных.');
                hideLoader();
            }
        };
    
        // Суммаризация текста
        document.getElementById('summarizeButton').onclick = async function() {
            if (!sessionId) {
                alert("Текст не загружен!");
                return;
            }
    
            let formData = new FormData();
            formData.append('session_id', sessionId);
    
            showLoader();
            try {
                const response = await fetch('/summarize', { method: 'POST', body: formData });
                const result = await response.json();
                document.getElementById('answerText').innerHTML  = marked.parse(result.result);
                hideLoader();
                toggleSections(false, false, true);
            } catch (error) {
                console.error('Error during summarization:', error);
                hideLoader();
            }
        };
    
        // Ответ на вопрос
        document.getElementById('askQuestionButton').onclick = async function() {
            if (!sessionId) {
                alert("Текст не загружен!");
                return;
            }
    
            const question = document.getElementById('questionText').value;
            let formData = new FormData();
            formData.append('session_id', sessionId);
            formData.append('question', question);
    
            showLoader();
            try {
                const response = await fetch('/question', { method: 'POST', body: formData });
                const result = await response.json();
                document.getElementById('answerText').innerHTML = marked.parse(result.result);
                hideLoader();
                toggleSections(false, false, true);
            } catch (error) {
                console.error('Error during question answering:', error);
                hideLoader();
            }
        };
    </script>
    

</body>
</html>
